<header class="header">
    <img src="https://partner.redbubble.com/partnership-portal/client/eab637076b22c782edf0015a0ec3c686.png" alt="Logo" class="header__logo">
    <nav class="header__navigation">
        <a routerLink="/characters" class="header__navigation--item" routerLinkActive="active">Personajes</a>
        <a routerLink="/episodes" class="header__navigation--item" routerLinkActive="active">Episodios</a>
        <a href="https://rickandmortyapi.com/documentation" class="header__navigation--item" routerLinkActive="active">Documentación</a>
    </nav>
</header>
<div class="blank"></div>