.episodes__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.episodes__content--finding {
    font-size: 25px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
.episodes__container--item {
    box-shadow: 0px 5px 5px 1px rgba(17,17,17,0.14);
    border-radius: 10px;
    margin: 20px;
    height: 400px;
    max-height: 570px;
    padding: 20px 10px;
    transition: .2s;
    width: 320px;
}

.episodes__content--pages{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.pages--item{
    text-align: center;
}
.pages__item--selection {
    background-color: transparent;
    color: #756951;
    border: none;
}
.pages__item--selection:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.page__error {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;;
}
.all__episodes {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style: none;
    width: 100%;
}
.all__episodes--item{
    width: 100%;
}



