<app-finderbar (input)="searchingName()" (searching)="name=$event"></app-finderbar>
<ul class="all__episodes">
    <li class="all__episodes--item">
        <section class="episodes__content">
            <span class="episodes__content--finding"*ngIf="name">
                <strong>Buscando:</strong> {{name}}
            </span>
            <div class="data-grid">
                <div class="episodes__container--item" *ngFor="let episode of episodes.results; index as i">
                    <app-episode-card
                        [episode]="episode"
                        [selected]="selected" 
                        [i]="i"
                        (selectedEmitter)="selected=$event">
                    </app-episode-card>
                </div> 
            </div>
            <div class="page__error" *ngIf="!episodes.results">
                <span class="episodes__data--name">Pagina No Encontrada, Por Favor Seleccionar Nuevamente.</span>
                <strong>Recomendación, ir a página 1.</strong>
            </div>
            <span>Actual: {{ page }}</span>
            <div class="characters__content--pages">
                <span class="pages--item" *ngFor="let pages of numberOfPages">
                    <button class="pages__item--selection" (click)="changeApiURLByPage(pages)">
                        {{ pages }}
                    </button>
                </span>
            </div>
        </section>
    </li>
</ul>