.container {
    height: 80%;
    width: 100%;
}
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.code {
    font-size: 150px;
    font-weight: bold;
    color: #5e9da7;
}
.code:hover{
    color: #12b0c9;
    cursor: pointer;
    transform: scale(1.2);
}
.description {
    font-size: 30px;
    font-weight: bold;
    color: #756951;
}